<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title>Adobe Muse Alternative for Mac</title>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href="./content.css"/>

    <link rel="shortcut icon" href="/favicon.png" type="image/png"/>
    <link rel="canonical" href="https://blog.realmacsoftware.com/adobe-muse-alternatives-for-mac/"/>
    <meta name="referrer" content="no-referrer-when-downgrade"/>
    <link rel="amphtml" href="https://blog.realmacsoftware.com/adobe-muse-alternatives-for-mac/amp/"/>

    <meta property="og:site_name" content="The Realmac Blog"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="Adobe Muse Alternative for Mac"/>
    <meta property="og:description"
          content="As you probably already know, Adobe is discontinuing development of Muse after just eight short years. Understandably users are not happy and are looking for a serious alternative. Adobe will offer support to Muse users for around year, and while this gives users a little time to move their website"/>
    <meta property="og:url" content="https://blog.realmacsoftware.com/adobe-muse-alternatives-for-mac/"/>
    <meta property="og:image"
          content="https://blog.realmacsoftware.com/content/images/2018/04/adobe-muse-alternatives-banner-image.jpg"/>
    <meta property="article:published_time" content="2018-04-06T16:27:20.000Z"/>
    <meta property="article:modified_time" content="2018-04-10T08:38:32.000Z"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="Adobe Muse Alternative for Mac"/>
    <meta name="twitter:description"
          content="As you probably already know, Adobe is discontinuing development of Muse after just eight short years. Understandably users are not happy and are looking for a serious alternative. Adobe will offer support to Muse users for around year, and while this gives users a little time to move their website"/>
    <meta name="twitter:url" content="https://blog.realmacsoftware.com/adobe-muse-alternatives-for-mac/"/>
    <meta name="twitter:image"
          content="https://blog.realmacsoftware.com/content/images/2018/04/adobe-muse-alternatives-banner-image.jpg"/>
    <meta name="twitter:label1" content="Written by"/>
    <meta name="twitter:data1" content="Dan Counsell"/>
    <meta name="twitter:site" content="@realmacsoftware"/>
    <meta name="twitter:creator" content="@dancounsell"/>
    <meta property="og:image:width" content="1600"/>
    <meta property="og:image:height" content="800"/>

    <script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Article",
    "publisher": {
        "@type": "Organization",
        "name": "The Realmac Blog",
        "logo": {
            "@type": "ImageObject",
            "url": "https://blog.realmacsoftware.com/content/images/2017/07/rm_logo.png",
            "width": 60,
            "height": 60
        }
    },
    "author": {
        "@type": "Person",
        "name": "Dan Counsell",
        "image": {
            "@type": "ImageObject",
            "url": "https://blog.realmacsoftware.com/content/images/2017/08/dan-avatar-2017.jpg",
            "width": 2320,
            "height": 2320
        },
        "url": "https://blog.realmacsoftware.com/author/dan/",
        "sameAs": [
            "https://twitter.com/dancounsell"
        ]
    },
    "headline": "Adobe Muse Alternative for Mac",
    "url": "https://blog.realmacsoftware.com/adobe-muse-alternatives-for-mac/",
    "datePublished": "2018-04-06T16:27:20.000Z",
    "dateModified": "2018-04-10T08:38:32.000Z",
    "image": {
        "@type": "ImageObject",
        "url": "https://blog.realmacsoftware.com/content/images/2018/04/adobe-muse-alternatives-banner-image.jpg",
        "width": 1600,
        "height": 800
    },
    "description": "As you probably already know, Adobe is discontinuing development of Muse after just eight short years. Understandably users are not happy and are looking for a serious alternative. Adobe will offer support to Muse users for around year, and while this gives users a little time to move their website",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://blog.realmacsoftware.com/"
    }
}




    </script>

    <script src="/public/ghost-sdk.min.js?v=b8224c28ac"></script>
    <script>
        ghost.init({
            clientId: "ghost-frontend",
            clientSecret: "e55e4cae860b"
        });
    </script>
    <meta name="generator" content="Ghost 1.22"/>
    <link rel="alternate" type="application/rss+xml" title="The Realmac Blog"
          href="https://blog.realmacsoftware.com/rss/"/>
    <script>
        !function (g, s, q, r, d) {
            r = g[r] = g[r] || function () {
                (r.q = r.q || []).push(
                    arguments)
            };
            d = s.createElement(q);
            q = s.getElementsByTagName(q)[0];
            d.src = '//d1l6p2sc9645hc.cloudfront.net/tracker.js';
            q.parentNode.insertBefore(d, q)
        }(window, document, 'script', '_gs');

        _gs('GSN-686954-M');
    </script>
    <meta name="google-site-verification" content="XViwRyQGByaf21_6tG7vmr4v19qewoLNowmbRMGGrwk"/>

</head>
<body class="post-template">

<div class="site-wrapper">


    <header class="site-header outer">
        <div class="inner">
            <nav class="site-nav">
                <div class="site-nav-left">
                    <a class="site-nav-logo" href="https://blog.realmacsoftware.com"><img
                            src="./126.jpg" alt="The Realmac Blog"/></a>
                    <ul class="nav" role="menu">
                        <li class="nav-all-posts" role="menuitem"><a href="https://blog.realmacsoftware.com/">All
                            Posts</a></li>
                        <li class="nav-web-development" role="menuitem"><a
                                href="https://blog.realmacsoftware.com/tag/web-development/">Web Development</a></li>
                        <li class="nav-back-to-realmac" role="menuitem"><a href="http://www.realmacsoftware.com/">Back
                            to Realmac</a></li>
                    </ul>

                </div>
                <div class="site-nav-right">
                    <div class="social-links">
                        <a class="social-link social-link-tw" href="https://twitter.com/realmacsoftware" target="_blank"
                           rel="noopener">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                                <path d="M30.063 7.313c-.813 1.125-1.75 2.125-2.875 2.938v.75c0 1.563-.188 3.125-.688 4.625a15.088 15.088 0 0 1-2.063 4.438c-.875 1.438-2 2.688-3.25 3.813a15.015 15.015 0 0 1-4.625 2.563c-1.813.688-3.75 1-5.75 1-3.25 0-6.188-.875-8.875-2.625.438.063.875.125 1.375.125 2.688 0 5.063-.875 7.188-2.5-1.25 0-2.375-.375-3.375-1.125s-1.688-1.688-2.063-2.875c.438.063.813.125 1.125.125.5 0 1-.063 1.5-.25-1.313-.25-2.438-.938-3.313-1.938a5.673 5.673 0 0 1-1.313-3.688v-.063c.813.438 1.688.688 2.625.688a5.228 5.228 0 0 1-1.875-2c-.5-.875-.688-1.813-.688-2.75 0-1.063.25-2.063.75-2.938 1.438 1.75 3.188 3.188 5.25 4.25s4.313 1.688 6.688 1.813a5.579 5.579 0 0 1 1.5-5.438c1.125-1.125 2.5-1.688 4.125-1.688s3.063.625 4.188 1.813a11.48 11.48 0 0 0 3.688-1.375c-.438 1.375-1.313 2.438-2.563 3.188 1.125-.125 2.188-.438 3.313-.875z"/>
                            </svg>
                        </a>
                    </div>
                    <a class="subscribe-button" href="#subscribe">Subscribe</a>
                </div>
            </nav>
        </div>
    </header>


    <main id="site-main" class="site-main outer">
        <div class="inner">

            <article class="post-full post ">

                <header class="post-full-header">
                    <section class="post-full-meta">
                        <time class="post-full-meta-date" datetime="2018-04-06">6 April 2018</time>
                    </section>
                    <h1 class="post-full-title">Adobe Muse Alternative for Mac</h1>
                </header>

                <figure class="post-full-image"
                        style="background-image: url(./123.jpg)">
                </figure>

                <section class="post-full-content">
                    <div class="kg-card-markdown"><p>As you probably already know, <a
                            href="http://muse.adobe.com/product-announcement-intl.html">Adobe is discontinuing
                        development of Muse</a> after just eight short years. Understandably <a
                            href="https://forums.adobe.com/thread/2470136">users are not happy</a> and are looking for a
                        serious alternative.</p>
                        <p>Adobe will offer support to Muse users for around year, and while this gives users a little
                            time to move their website projects over to a new system, it's far from ideal.</p>
                        <p>The good news is that there are some great alternatives out there on both Mac and PC.
                            However, if you're a Mac user looking for an alternative to Adobe Muse, then <a
                                    href="https://www.realmacsoftware.com/rapidweaver/">RapidWeaver</a> really should be
                            your first choice.</p>
                        <p>In this article, I'm going to do a quick rundown on why RapidWeaver should be your go-to
                            applications for future web design projects.</p>
                        <h3 id="whyrapidweaver">Why RapidWeaver?</h3>
                        <p>RapidWeaver is the best easy-to-use website building app on the Mac. The original version was
                            released in 2004, and since then it's a had a steady succession of releases and has always
                            been updated to support the latest release of Mac OS. Because RapidWeaver has been around
                            for an astounding 14 years, it's very well supported and has a bright future ahead of
                            it.</p>
                        <p><img src="./111.jpg" alt="welcome"></p>
                        <p>Right out of the box you can build a great looking responsive website without needing to
                            write a line of code, you don't even need another app to upload it to your web server.
                            RapidWeaver has it all built-in.</p>
                        <p>The real power in RapidWeaver lies in the fact that it has an incredibly vibrant and thriving
                            <a href="https://rapidweavercommunity.com">third-party developer community</a> behind it.
                            For example, when you use RapidWeaver in combination with the <a
                                    href="https://rapidweavercommunity.com/addons/plugins/stacks">Stacks plugin</a> it
                            gives you complete freedom to build whatever you or <a
                                    href="https://www.youtube.com/watch?v=oD8r93ASXJM&amp;list=PL2fonIpsvngwgUdBJbbJsnNsRpHciCUUC">your
                                client wants</a>.</p>
                        <h3 id="canrapidweaverdox">Can RapidWeaver do X?</h3>
                        <p>We get asked this question a lot, and the answer is almost always &quot;Yes&quot;, this is
                            because of the fantastic third-party community and the richness of RapidWeaver itself.</p>
                        <p><img src="./125.jpg" alt="health-check"></p>
                        <p>You can quickly build responsive websites, and because it separates the design from the
                            content, it's easy to change the design whenever you like. RapidWeaver also has FTP and SFTP
                            built-in, so you don't need another app, once you've built your site you can upload it all
                            from within the app.</p>
                        <p>If you want to build an online store, no problem, there are plenty of options to do this too.
                            Recently <a href="https://rapidweavercommunity.com/addons/plugins/ecwid-online-store">Ecwid
                                released a plugin</a> and a code snippet specifically for RapidWeaver. There's even a <a
                                    href="https://blog.realmacsoftware.com/start-selling-online-rapidweaver/">three-part
                                video tutorial</a> showing you how to get your store up and running.</p>
                        <p>Pretty much any website you want to build can be built with RapidWeaver. If you're unsure how
                            to do something you can watch our extensive and regularly <a
                                    href="https://www.youtube.com/watch?v=FFxj-A9iDJI">updated tutorials</a>, or <a
                                    href="https://forums.realmacsoftware.com">ask a question at our friendly forum</a>
                            where there are always fellow weavers willing to help out.</p>
                        <h3 id="switchtorapidweaver">Switch to RapidWeaver</h3>
                        <p>Unlike Adobe Muse and a lot of other website builders, there's no on-going monthly
                            subscription charge for RapidWeaver or limit on how many websites you can build. Once you've
                            <a href="https://realmacsoftware.com/store/?paddle_coupon=notamused">purchased
                                RapidWeaver</a>, you can use it for as long as you like and create as many websites as
                            you want! It's that simple.</p>
                        <p>RapidWeaver costs just $89 and if you use <a
                                href="https://realmacsoftware.com/store/?paddle_coupon=notamused">this link to buy
                            RapidWeaver</a>, we'll automatically apply a 20% discount, meaning you can pick up the best
                            web design tool on the Mac for around $70.</p>
                        <p>RapidWeaver is the longest running easy-to-use website builder on the Mac. It has been around
                            for 14 years and is still actively developed. RapidWeaver also has one the best third-party
                            developer communities you'll find.</p>
                        <p><strong>Nothing comes close to RapidWeaver's power and flexibility.</strong></p>
                        <p>You can download a demo of RapidWeaver that allows you to build a three-page website for
                            free. Give it a try and if you have any questions about migrating from Muse be sure to drop
                            by our <a href="https://forums.realmacsoftware.com">friendly user forum</a> or <a
                                    href="mailto:support@realmacsoftware.com">drop us an email</a>.</p>
                        <p>Happy Weaving!</p>
                        <h4 id="furthervideos">Further Videos</h4>
                        <ul>
                            <li><a href="https://www.youtube.com/watch?v=FFxj-A9iDJI">RapidWeaver for Beginners Video
                                Course</a></li>
                            <li>
                                <a href="https://www.youtube.com/watch?v=oD8r93ASXJM&amp;list=PL2fonIpsvngwgUdBJbbJsnNsRpHciCUUC">Creating
                                    a client website with RapidWeaver</a></li>
                            <li><a href="https://blog.realmacsoftware.com/start-selling-online-rapidweaver/">Creating an
                                Online Store with RapidWeaver</a></li>
                        </ul>
                        <h4 id="furtherreading">Further Reading</h4>
                        <ul>
                            <li><a href="http://muse.adobe.com/product-announcement-intl.html">Adobe Muse official
                                announcement</a></li>
                            <li><a href="https://forums.realmacsoftware.com/t/adobe-muse-alternative/19587/6">Adobe Muse
                                Altrenative</a></li>
                            <li>
                                <a href="https://forums.realmacsoftware.com/t/adobe-muse-being-canceled-might-move-back-to-mac-just-for-rapidweaver/19435">Adobe
                                    Muse being cancelled, switching back to RapidWeaver</a></li>
                        </ul>
                    </div>
                </section>

                <section class="subscribe-form">
                    <h3 class="subscribe-form-title">Subscribe to The Realmac Blog</h3>
                    <p>Get the latest posts delivered right to your inbox</p>
                    <form method="post" action="/subscribe/" class="">
                        <input class="confirm" type="hidden" name="confirm"/><input class="location" type="hidden"
                                                                                    name="location"/><input
                            class="referrer" type="hidden" name="referrer"/>

                        <div class="form-group">
                            <input class="subscribe-email" type="email" name="email"
                                   placeholder="youremail@example.com"/>
                        </div>
                        <button class="" type="submit"><span>Subscribe</span></button>
                        <script>(function (g, h, o, s, t) {
                            h[o]('.location')[s] = h[o]('.location')[s] || g.location.href;
                            h[o]('.referrer')[s] = h[o]('.referrer')[s] || h.referrer;
                        })(window, document, 'querySelector', 'value');</script>
                    </form>


                </section>

                <footer class="post-full-footer">


                    <section class="author-card">
                        <img class="author-profile-image" src="/content/images/2017/08/dan-avatar-2017.jpg"
                             alt="Dan Counsell"/>
                        <section class="author-card-content">
                            <h4 class="author-card-name"><a href="/author/dan/">Dan Counsell</a></h4>
                            <p>Founder of Realmac Software</p>
                        </section>
                    </section>
                    <div class="post-full-footer-right">
                        <a class="author-card-button" href="/author/dan/">Read More</a>
                    </div>


                </footer>


            </article>

        </div>
    </main>

    <aside class="read-next outer">
        <div class="inner">
            <div class="read-next-feed">


                <article class="post-card post tag-rapidweaver tag-tutorials tag-web-development">
                    <a class="post-card-image-link" href="/remove-not-secure-rapidweaver-https/">
                        <div class="post-card-image"
                             style="background-image: url(/content/images/2018/02/https-banner-2.jpg)"></div>
                    </a>
                    <div class="post-card-content">
                        <a class="post-card-content-link" href="/remove-not-secure-rapidweaver-https/">
                            <header class="post-card-header">
                                <span class="post-card-tags">RapidWeaver</span>
                                <h2 class="post-card-title">Remove the ”not secure” warning from RapidWeaver sites with
                                    HTTPS</h2>
                            </header>
                            <section class="post-card-excerpt">
                                <p>As of July 2018, all HTTP websites will be marked as “not secure” by Google’s Chrome
                                    web browser meaning it’s essential you understand how this change affects your site,
                                    and how</p>
                            </section>
                        </a>
                        <footer class="post-card-meta">

                            <ul class="author-list">
                                <li class="author-list-item">

                                    <div class="author-name-tooltip">
                                        Ben Counsell
                                    </div>

                                    <a href="/author/ben-counsell/" class="static-avatar"><img
                                            class="author-profile-image" src="/content/images/2018/01/avatar.jpg"
                                            alt="Ben Counsell"/></a>
                                </li>
                            </ul>

                            <span class="reading-time">2 min read</span>

                        </footer>
                    </div>
                </article>

            </div>
        </div>
    </aside>

    <div class="floating-header">
        <div class="floating-header-logo">
            <a href="https://blog.realmacsoftware.com">
                <img src="/content/images/2017/10/rms_logo-1.png" alt="The Realmac Blog icon"/>
                <span>The Realmac Blog</span>
            </a>
        </div>
        <span class="floating-header-divider">&mdash;</span>
        <div class="floating-header-title">Adobe Muse Alternative for Mac</div>
        <div class="floating-header-share">
            <div class="floating-header-share-label">Share this
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M7.5 15.5V4a1.5 1.5 0 1 1 3 0v4.5h2a1 1 0 0 1 1 1h2a1 1 0 0 1 1 1H18a1.5 1.5 0 0 1 1.5 1.5v3.099c0 .929-.13 1.854-.385 2.748L17.5 23.5h-9c-1.5-2-5.417-8.673-5.417-8.673a1.2 1.2 0 0 1 1.76-1.605L7.5 15.5zm6-6v2m-3-3.5v3.5m6-1v2"/>
                </svg>
            </div>
            <a class="floating-header-share-tw"
               href="https://twitter.com/share?text=Adobe%20Muse%20Alternative%20for%20Mac&amp;url=https://blog.realmacsoftware.com/adobe-muse-alternatives-for-mac/"
               onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                    <path d="M30.063 7.313c-.813 1.125-1.75 2.125-2.875 2.938v.75c0 1.563-.188 3.125-.688 4.625a15.088 15.088 0 0 1-2.063 4.438c-.875 1.438-2 2.688-3.25 3.813a15.015 15.015 0 0 1-4.625 2.563c-1.813.688-3.75 1-5.75 1-3.25 0-6.188-.875-8.875-2.625.438.063.875.125 1.375.125 2.688 0 5.063-.875 7.188-2.5-1.25 0-2.375-.375-3.375-1.125s-1.688-1.688-2.063-2.875c.438.063.813.125 1.125.125.5 0 1-.063 1.5-.25-1.313-.25-2.438-.938-3.313-1.938a5.673 5.673 0 0 1-1.313-3.688v-.063c.813.438 1.688.688 2.625.688a5.228 5.228 0 0 1-1.875-2c-.5-.875-.688-1.813-.688-2.75 0-1.063.25-2.063.75-2.938 1.438 1.75 3.188 3.188 5.25 4.25s4.313 1.688 6.688 1.813a5.579 5.579 0 0 1 1.5-5.438c1.125-1.125 2.5-1.688 4.125-1.688s3.063.625 4.188 1.813a11.48 11.48 0 0 0 3.688-1.375c-.438 1.375-1.313 2.438-2.563 3.188 1.125-.125 2.188-.438 3.313-.875z"/>
                </svg>
            </a>
            <a class="floating-header-share-fb"
               href="https://www.facebook.com/sharer/sharer.php?u=https://blog.realmacsoftware.com/adobe-muse-alternatives-for-mac/"
               onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                    <path d="M19 6h5V0h-5c-3.86 0-7 3.14-7 7v3H8v6h4v16h6V16h5l1-6h-6V7c0-.542.458-1 1-1z"/>
                </svg>
            </a>
        </div>
        <progress class="progress" value="0">
            <div class="progress-container">
                <span class="progress-bar"></span>
            </div>
        </progress>
    </div>


    <footer class="site-footer outer">
        <div class="site-footer-content inner">
            <section class="copyright"><a href="https://blog.realmacsoftware.com">The Realmac Blog</a> &copy; 2018
            </section>
            <nav class="site-footer-nav">
                <a href="https://blog.realmacsoftware.com">Latest Posts</a>

                <a href="https://twitter.com/realmacsoftware" target="_blank" rel="noopener">Twitter</a>
                <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
            </nav>
        </div>
    </footer>

</div>

<div id="subscribe" class="subscribe-overlay">
    <a class="subscribe-overlay-close" href="#"></a>
    <div class="subscribe-overlay-content">
        <img class="subscribe-overlay-logo" src="/content/images/2017/07/rm_logo.png" alt="The Realmac Blog"/>
        <h1 class="subscribe-overlay-title">Subscribe to The Realmac Blog</h1>
        <p class="subscribe-overlay-description">Stay up to date! Get all the latest &amp; greatest posts delivered
            straight to your inbox</p>
        <form method="post" action="/subscribe/" class="">
            <input class="confirm" type="hidden" name="confirm"/><input class="location" type="hidden" name="location"/><input
                class="referrer" type="hidden" name="referrer"/>

            <div class="form-group">
                <input class="subscribe-email" type="email" name="email" placeholder="youremail@example.com"/>
            </div>
            <button class="" type="submit"><span>Subscribe</span></button>
            <script>(function (g, h, o, s, t) {
                h[o]('.location')[s] = h[o]('.location')[s] || g.location.href;
                h[o]('.referrer')[s] = h[o]('.referrer')[s] || h.referrer;
            })(window, document, 'querySelector', 'value');</script>
        </form>


    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
</script>
<script type="text/javascript" src="/assets/js/jquery.fitvids.js?v=b8224c28ac"></script>


<script>

    // NOTE: Scroll performance is poor in Safari
    // - this appears to be due to the events firing much more slowly in Safari.
    //   Dropping the scroll event and using only a raf loop results in smoother
    //   scrolling but continuous processing even when not scrolling
    $(document).ready(function () {
        // Start fitVids
        var $postContent = $(".post-full-content");
        $postContent.fitVids();
        // End fitVids

        var progressBar = document.querySelector('progress');
        var header = document.querySelector('.floating-header');
        var title = document.querySelector('.post-full-title');

        var lastScrollY = window.scrollY;
        var lastWindowHeight = window.innerHeight;
        var lastDocumentHeight = $(document).height();
        var ticking = false;

        function onScroll() {
            lastScrollY = window.scrollY;
            requestTick();
        }

        function onResize() {
            lastWindowHeight = window.innerHeight;
            lastDocumentHeight = $(document).height();
            requestTick();
        }

        function requestTick() {
            if (!ticking) {
                requestAnimationFrame(update);
            }
            ticking = true;
        }

        function update() {
            var trigger = title.getBoundingClientRect().top + window.scrollY;
            var triggerOffset = title.offsetHeight + 35;
            var progressMax = lastDocumentHeight - lastWindowHeight;

            // show/hide floating header
            if (lastScrollY >= trigger + triggerOffset) {
                header.classList.add('floating-active');
            } else {
                header.classList.remove('floating-active');
            }

            progressBar.setAttribute('max', progressMax);
            progressBar.setAttribute('value', lastScrollY);

            ticking = false;
        }

        window.addEventListener('scroll', onScroll, {passive: true});
        window.addEventListener('resize', onResize, false);

        update();

    });
</script>


</body>
</html>
